<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="cells-bfm-options-styles.html">
<link rel="import" href="../cells-st-button/cells-st-button.html">
<dom-module id="cells-bfm-options">
    <template>
    <style include="cells-bfm-options-styles"></style>
    <div class="options-main-container">
        <template is="dom-repeat" items="[[content]]">
            <template is="dom-if" if="[[_isEqualTo(item.type, 'left')]]">
              <div class="left-container">
                <cells-st-button class="link" >
                  <button class="button-outline" on-click="_setEventButton">
                    <span class="btn-contents">
                      <iron-icon class="btn-icon" icon="[[item.icon]]"></iron-icon>
                      <span class="btn-text">
                        [[item.text]]
                      </span>
                    </span>
                  </button>
                </cells-st-button>
              </div>
            </template>
    <template is="dom-if" if="[[_isEqualTo(item.type, 'right')]]">
              <div class="right-container">
                <cells-st-button class="link" >
                  <button class="button-width button-outline" on-click="_setEventButton">
                    <span class="btn-contents">
                      <iron-icon class="btn-icon" icon="[[item.icon]]"></iron-icon>
                      <span class="btn-text">
                        [[item.text]]
                      </span>
                    </span>
                  </button>
                </cells-st-button>
              </div>
            </template>
    </template>
    </div>
    </template>
    <script src="cells-bfm-options.js"></script>
</dom-module>