<dom-module id="cells-bfm-options-styles"><template><style>
:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-bfm-options; }

:host([hidden]),
[hidden] {
  display: none !important; }

*,
*:before,
*:after {
  font: inherit;
  box-sizing: inherit; }

.options-main-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  @apply --main-container-movil; }

.left-container {
  margin: 0 auto;
  @apply --left-container-movil; }

.right-container {
  margin: 0 auto;
  @apply --right-container-movil; }

.button-outline {
  outline: 0;
  @apply --button-outline; }

@media (min-width: 700px) {
  .options-main-container {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: unset;
    -webkit-box-pack: justify;
            justify-content: space-between;
    @apply --main-container-tablet; }
  .left-container {
    margin-left: 1rem;
    width: -webkit-fill-available;
    @apply --left-container-tablet; }
  .button-width {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    @apply --button-width-tablet; } }

</style></template></dom-module>