@import "bower_components/cells-sass/main";
:host {
    display: block;
    box-sizing: border-box;
    font-family: var(--cells-fontDefault, sans-serif);
    @apply --cells-bfm-options;
}

:host([hidden]),
[hidden] {
    display: none !important;
}

*,
*:before,
*:after {
    font: inherit;
    box-sizing: inherit;
}

.options-main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @apply --main-container-movil;
}

.left-container {
    margin: 0 auto;
    @apply --left-container-movil;
}

.right-container {
    margin: 0 auto;
    @apply --right-container-movil;
}

.button-outline{
    outline: 0;
    @apply --button-outline;
}

@media (min-width: 700px) {
    .options-main-container {
        display: flex;
        flex-direction: row;
        flex-wrap: unset;
        justify-content: space-between;
        @apply --main-container-tablet;
    }
    .left-container {
        margin-left: 1rem;
        width: -webkit-fill-available;
        @apply --left-container-tablet;
    }
    .button-width {
        width: max-content;
        @apply --button-width-tablet;
    }
}
